$carousel-poster-height: 200;
$carousel-poster-width: 120;
$carousel-item__scale: 1.6;

.posters {

	.carousel-item {
		background-color: rgba(0,0,0,1);
		cursor: pointer;
		display: inline-block;
		height: $carousel-poster-height + px;
		list-style: none;
		margin: 0 5px 0 5px;
		position: relative;
		transition-duration: .5s;
		vertical-align: middle; // Allows protruding growth instead of upward growth animation
		width: $carousel-poster-width + px;
		
		.poster {
			background-size: cover;
			background-position: left top;
			height: 100%;
			position: absolute;
			overflow: hidden;
			width: 100%;
		}
		
		&:hover, &:focus, .focus {
			height: ($carousel-poster-height * $carousel-item__scale) + px;
			margin-top: 0px;
			overflow: hidden;
			transition-delay: .025s;
			width: ($carousel-poster-width * $carousel-item__scale) + px;
			
			.video-link {
				.content {
					opacity: 1;
					transform: translateY(20%) translateX(-50%);
					transition-delay: 0.025s;
				}
			}
		}
		
		.video-link {
			color: white;
			cursor: pointer;
			display: block;
			font-family: 'IBM Plex Sans Condensed', sans-serif;
			height: 100%;
			position: relative;
			overflow: hidden;
			text-decoration: none;
			width: 100%;
			z-index: 2;
			
			.content {
				background: linear-gradient(transparent, rgba(0, 0, 0, .75));
				bottom: 0;
				height: ($carousel-poster-height * $carousel-item__scale / 3) + px;
				left: 50%;
				opacity: 0;
				padding: 30px 10px 20px 10px;
				position: absolute;
				transform: translateY(50%) translateX(-50%);
				transition-duration: 1s;
				width: ($carousel-poster-width * $carousel-item__scale) + px;
				/* Movie Description */
				h2 {
					color: white;
					font-size: ($carousel-poster-width / 10) + px;
					font-weight: 300;
				}
			}
		}
		
		h3 {
			color: white;
			display: block;
			font-size: ($carousel-poster-width / 10) + px;
			font-weight: 300;
			position: absolute;
			overflow: unset;
			text-align: left;
			text-overflow: ellipsis;
			z-index: 1000;
		}
		
	}
}
