.video-carousel {
	
	.posters {
		left: 50%;
		position: fixed;
		text-align: center;
		top: 50%;
		width: 5000px;
		transform: translateY(-50%) translateX(-50%);
		
		.no-videos-loaded {
			color: rgba(255,255,255,1);
		}
		
	}
	
}
